#module {
  width: 60%;
  position: absolute;
}

#module a.collapsed:after {
  content: '+ Show More';
}

#module a:not(.collapsed):after {
  content: '- Show Less';
}

#module p.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 3.5em;
  overflow: hidden;
}

#module p.collapsing {
  height: 4.5em;
}

