
html{
    font-size: calc(15px + 0.390625vw);
    overflow: hidden;
}
.login-container{
   margin-top: 10vh;
   min-height: 100vh;
   height: 100vh;

}
.form-jumbo{
    margin: auto;
    padding:1.5% 2% 1.5% 2% !important;
    width:calc(200px + 10vw) !important;
    border-radius: 5vw !important;
    width:25%;
    border-radius: 30px !important;
    border-style: solid !important;
    border-color: darkgray !important;
    border-width:1.5px !important;
    
}

p{
    font-size: 1.5rem !important;
}

.register-jumbo{
    margin: auto;
    width:calc(200px + 10vw) !important;
    padding: 0.5vw 2vw 0.5vw 2vw !important;
    height:6vh !important;
    background-color: white !important;
    border-radius: 5vw !important;
    border-style: solid !important;
    border-color: black !important;
    border-width:1.5px !important;
}
.btn-success{
    width: 100% !important;
    border-radius: 20px !important;
}

.btn-primary{
    width: 100% !important;
    border-radius: 20px !important;
}

.form-control{
    border-radius: 20px !important;
}

.center{
    display: block;
    text-align: center;
}

.group{
    display: flex;
    justify-content: space-between;
    
}


#authCodeButton {
    padding: 0;
    border: none;
    background: none;
    margin-bottom: 20px;
}

.text-dark{
    font-weight: 600 !important;
}

.nav-link.selected{
    background-color: #F5F5F5 !important;
    border-radius:5px;
    border:0;
}

.nav-link:hover{
    background-color: #F6F6F6 !important;
    cursor: pointer;
}
.btn-alert{
    color:red !important;
    border-style:solid !important;
    border-width: 1px !important;
    font-weight: 600 !important;
}
.full-height{
    color: darkgray;
    text-align: center;
    height: 85vh !important;
    background-color: #F5F5F5;
    border-radius: 8px;
    margin:5vh 2vw 2vh 2vw;
    width:20vw !important;
    padding:1rem 1vw !important;

}
.navbar{
    margin-bottom: 2vh;
}

.bd-footer{
    height:10vh !important;
}


.offcanvas{
    width:20vw !important;
    background-color: #F8F8F8 !important;
}

.entryBox{
    color: black;
    background-color:white;
    height:10vh;
    border-radius: 4px;
    
    margin: 0 !important;
    margin-bottom: 0.5rem !important;
    box-shadow: 1.8px 3.5px 3.5px hsl(0deg 0% 0% / 0.45);
    transition: 0.3s;
}
.entryBox:hover{
    background-color: #F5F5F5;
}
.avatar {
    /* Rounded border */
    border-radius: 50%;

    /* Center the content */
    display: flex;
    align-content: center;

    /* Size */
    height: 2vh;
    aspect-ratio: 1;
    margin:0 3vw 0 1vw !important;
}

.avatar__image {
    /* Size */
    height: 50%;
    width: 50%;
}

.entryFooter{
  display: flex;
  align-items:flex-end ;
  justify-content: space-between;

}

.entryTitle{
    font-size: 0.75rem;
    font-weight: 600;
}



.subjectText{
   width:50%;
   background-color: lightblue !important;
    font-size: 0.75rem !important;
    padding: 0 !important;
    margin-top: 2.5vh;
    margin-left: 0.5vw;
    
    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

