.tasks > .row {
    min-height: 5rem;
    padding-top: 1rem;
    align-content: center;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.tasks > .row > .card {
    display: inline-block;
}

#options > .btn {
    margin-bottom:2%;
}

.tasks > .row {
    margin-bottom: 2%;
}

.card {
    height: 5.5em;
    width: 15em; 
    margin-right:1%;
}

.card-body {
    text-align: left;
    font-size: 0.75em;
    color: black;
}

.taskDeadline {
    color: green;
}

.cannotCalc {
    color: red;
}

#displayTasks {
    display: none;
}

#noTasks {
    margin-top: 27%;
}

#main {
    margin-top: 1%;
}

#progressBar {
    display: none;
}

#deadlineStats {
    display: none;
}

#deleteTask {
    color: red;
}

#EditTaskForm > .form-group {
    margin-bottom: 0.5em;
}

#EditTaskForm > .form-group > label{
    margin-bottom: 0.25em;
}

#EditTaskForm > .list-group{
    margin-top: 0.25em;
    margin-bottom: 0.75em;
}

#ViewTaskBody .form-group {
    margin-bottom: 0.5em;
}

#ViewTaskBody .form-group > label{
    margin-bottom: 0.25em;
}

#ViewTaskBody .list-group{
    margin-top: 0.25em;
    margin-bottom: 0.75em;
}

.d-grid > button {
    margin-top: 0.75em;
}

.my-3 {
    border-color: gray;
}